<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheet//index.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->
</head>

<body>
    <div class="w-full h-screen bg-zinc-900">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="avatar">Choose a profile picture:</label>
            <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" />
            <button type="submit">submit the form</button>
        </form>
    </div>


    <script src="/public/javascript/index.js"></script>
</body>

</html>